body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.feed {
  width: auto;
  margin: 2rem auto;
}

.img-cover {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}